@basecolor:#FF0000;

@header-bdr-color:darken(@basecolor,25%);
@nav-bg-color:lighten(@basecolor,25%);
@nav-link-bg-color:#4A99D6;

@bdrcolor:lighten(@basecolor,10%);

@bgcolor:lighten(@basecolor, 40%);

@font-family:Verdana, Geneva, Tahoma, sans-serif;
@heading-font-family:Georgia, Times, "Times New Roman", serif;
@base-font-size:16px;



.rotate(@angle:5deg){
	-webkit-transform: rotate(@angle);
		 -moz-transform: rotate(@angle);
			-ms-transform: rotate(@angle);
			 -o-transform: rotate(@angle);
					transform: rotate(@angle);
}
.transition(){
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.bdr{
	border:solid 1px @bdrcolor;
}
.square(@boxwidth:50px){
	width:@boxwidth;
	height: @boxwidth;
}

.two-isto-one(@width:100px){
	width:@width;
	height:@width/2;
}


body{
	background-color:@bgcolor ;
	font: @base-font-size/1.2 @font-family;
	margin:0;
}
header{
	border-bottom: solid 6px @header-bdr-color;

	h1{
		text-align: center;
		font-family: 'Georgia', serif;
		font-weight: normal;
	}
	nav{
		background-color: @nav-bg-color;
		ul{
			margin: 0;
			text-align: center;
			li{
				display: inline-block;
				a{
					padding: 5px 15px;
					background-color: @nav-link-bg-color;
					display: block;
					.rotate;
					.bdr;
					.transition;

					&:hover{
						background-color: darken(@nav-link-bg-color,10%);
						.rotate(-5deg);
					}
				}
			}
		}
	}
}//eo header

.container{
	background-color: #FFF;
	margin:10px;
	padding:10px;

	@media(min-width:768px){
		width:760px;
		margin-left: auto;
		margin-right: auto;
		@media(min-width:980px){
			width:960px;
		}
	}
}










.dabba{
	.square();
	.bdr;
	.rotate;
}
.dabba200{
	.square(200px);
	.bdr;
	.rotate;
}
.dabba300{
	.square(300px);
	.bdr;
	.rotate;
}

.img{
	.bdr;
	.rotate;
}

.rect{
	.two-isto-one();
	.bdr;
}
.rect400{
	.two-isto-one(400px);
	.bdr;
}

